@import 'https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap';
#root {
  height: 100vh;
  width: 100%;
  /* background-image: url(/bg-CxaSEvDM.png); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: Comfortaa;
}
._container_1evgb_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
._container_all_1evgb_13 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
._logo_1evgb_27 {
  margin: 20px 0;
  max-height: 35vh;
}
._size_shadow_1evgb_37 {
  width: 300px;
  height: 55px;
  border-radius: 20px;
  border: none;
  background: #fff;
  box-shadow: 0 10px 5px #00000040;
  margin-top: 15px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
._name_input_1evgb_67 {
  margin-top: 30px;
}
._name_input_1evgb_67::placeholder {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}
._settings_1evgb_91 {
  text-transform: uppercase;
  background-color: #fff;
}
._lang_1evgb_99 {
  text-transform: uppercase;
  background-color: #b4daef;
}
._next_1evgb_107 {
  text-transform: uppercase;
  background: linear-gradient(97deg, #49d8dc 23.61%, #2d9dff 58.09%);
}
._logo_container_tjy7x_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
._instruction_tjy7x_19 {
  width: 90%;
  border-radius: 20px;
  box-shadow: 0 1px 8.6px 8px #00000040;
}
._instruction_text_tjy7x_29 {
  box-sizing: border-box;
  padding: 20px;
  margin-top: 50px;
  width: 90%;
  border-radius: 40px;
  background: #fff;
  box-shadow: 2px 2px 5px 9px #00000040;
  min-height: 175px;
  margin-bottom: 70px;
}
._container_tjy7x_51 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
._start_tjy7x_61 {
  text-transform: uppercase;
  background: linear-gradient(97deg, #49d8dc 23.61%, #2d9dff 58.09%);
  width: 300px;
  height: 55px;
  border-radius: 20px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  border: none;
}
._logo_container_z1r9k_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
._container_z1r9k_19 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #49d8dc80;
}
._timer_z1r9k_33 {
  margin: 0 0 25px;
  color: #fff;
  font-family: Inter;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
._circle_1mep7_1 {
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #e5ded8;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: -5px -5px 15px #00000040 inset;
  filter: drop-shadow(3px 5px 8.9px rgba(0, 0, 0, 0.25));
  color: #0a2747;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
._circle_1mep7_1:active {
  background-color: #49d8dc;
}
._game_container_1mep7_47 {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
._game_instruction_1mep7_61 {
  box-sizing: border-box;
  width: 100%;
  background-color: #ffffffb3;
  color: #0a2747;
  padding: 20px;
  height: max-content;
  margin: 0;
}
._send_1mep7_79 {
  text-transform: uppercase;
  background: linear-gradient(97deg, #49d8dc 23.61%, #2d9dff 58.09%);
  width: 300px;
  height: 55px;
  border-radius: 20px;
  border: none;
  box-shadow: 0 10px 5px #00000040;
  margin-bottom: 15px;
}
._container_all_1qezr_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}
._logo_1qezr_15 {
  margin: 20px 0;
  max-height: 35vh;
}
._thanks_text_1qezr_23 {
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  margin-top: 50px;
  width: 90%;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 10px 5px #00000040;
  min-height: 175px;
  margin-bottom: 70px;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
